*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#header{
    padding: 20px;
    background:rgba(181, 173, 173, 0.633);
}

#nav{
    position: relative;
    padding: 10px;
}

#nav-left{
    position: absolute;
    top: 0;
    left: 0;
}

#nav-mid{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#nav-mid a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

#nav-right{
    position: absolute;
    top: 0;
    right: 0;
}

#nav-right i {
    padding: 0 10px;
}