@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Courier New, Courier, monospace;
}

html,
body {
    width: 100%;
    height: 100%;
}

#header {
    padding: 1vw;
    background: rgba(181, 173, 173, 0.633);
}

#nav {
    position: relative;
    padding: 1vw;
}

#nav-left {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


#nav-mid {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#nav-mid a {
    padding: 0 1vw;
    text-decoration: none;
    color: black;
}

#nav-right {
    position: absolute;
    top: 0;
    right: 0;
}

#nav-right i {
    padding: 0 1vw;
    font-size: 1rem;
}

#page1 {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}



#p1-box {
    padding: 35px;
    width: 44vw;
    height: 30vw;
    background-color: #fff2e3;
    position: absolute;
    bottom: 12%;
    right: 3%;
    border: 2px solid #fff2e3;
    border-radius: 12px;
    box-shadow: 6px 1px 3px #FFF2D7;
}

#p1-box h4 {
    font-size: 1.4rem;
}

#p1-box h2 {
    font-size: 4.3rem;
    font-weight: 800;
    line-height: 1;
    padding: 20px 0;
    color: #b88e2f;
}

#p1-box p {
    padding: 20px 0;
}

#p1-box button {
    background-color: #b88e2f;
    color: white;
    padding: 20px 52px;
}

#page2 {
    padding: 20px 40px 0 40px;
    height: 100vh;
    width: 100%;
}

#p2-upper {
    text-align: center;
}

#p2-upper h2 {
    padding: 6px 0;
    font-size: 4.5rem;
}

#p2-upper p {
    padding-bottom: 4rem;
    font-size: 19px;
}

#p2-lower {
    position: relative;
}

.card-c1 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.card-c2 {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%);
    text-align: center;
}

.card-c3 {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

#cards img {
    height: 28vw;
    background: skyblue;
}

#cards h2 {
    font-size: 2.2rem;
}

/* Page-3-Section */
#page3 {
    width: 100%;
    height: 100vh;
    background: lightgreen;
    padding: 1vw 3vw 0 3vw;
}

#p3-upper h1 {
    padding-bottom: 1vw;
    text-align: center;
    font-size: 2.5rem;
}

#p3-lower {
    position: relative;
}

.cards-p3-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.cards-p3-2 {
    position: absolute;
    top: 0;
    left: 28%;
}

.cards-p3-3 {
    position: absolute;
    top: 0;
    left: 55%;
}

.cards-p3-4 {
    position: absolute;
    top: 0;
    right: 0;
}

.card-p3 {
    height: 20vw;
    margin-bottom: 20px;
    background: rgb(244, 245, 247);
    width: 300px;

}

.card-p3 img {
    height: 11vw;
    width: 100%;
    object-fit: cover;
}

.card-p3 h4 {
    font-size: 1.4rem;
    padding: 10px 0 0 12px;
}

.card-p3 p {
    font-size: 1rem;
    padding: 10px 12px;
}

.card-p3 h6 {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0 18px 12px;
}

#pg-3-btn {
    position: relative;
}

#pg-3-btn button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 80px;
    margin-top: 350px;
}

#page4 {
    height: 100vh;
    width: 100%;
    position: relative;

}

#p4-left {
    position: absolute;
    width: 29vw;
    top: 30%;
    left: 35px;
}

#p4-container h2 {
    font-size: 2.4rem;
    line-height: 2.9rem;
}

#p4-container p {
    padding: 1.5vw 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

#p4-container button {
    padding: 1vw 2vw;
    font-size: .9rem;
    font-weight: 600;
}

#p4-mid {
    position: absolute;
    height: 100%;
    width: 36vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-image: url(/images/room-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#p4-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 44vw;
    width: 30vw;
}

#p4-right img {
    width: 100%;
    height: 100%;
}

#page5 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#p5-upper {
    position: relative;
    top: 6%;
}

#p5-upper h1,
#p5-upper p {
    text-align: center;
    padding: .3vw 0;
}

#p5-lower {
    position: relative;
    width: 100%;
    height: calc(100% - 88px);
}

#p5-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 38.6vw;
    height: 100%;
}

#p5-left-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#p5-left-container .p5-img1 {
    height: 48.5%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/images/product-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#p5-left-container .p5-img2 {
    height: 38.5%;
    width: 78%;
    position: absolute;
    top: 10%;
    right: 0;
    background-image: url(/images/setup-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#p5-left-container .p5-img3 {
    height: 50%;
    width: 38%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(/images/product-7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#p5-left-container .p5-img4 {
    height: 35%;
    width: 60%;
    position: absolute;
    top: 50%;
    right: 0;
    background-image: url(/images/setup-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#p5-mid {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 20vw;
    height: 65%;
    background-image: url(/images/center-setup-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#p5-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 38.6vw;
    height: 100%;
}

#p5-right-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#p5-right-container .p5-l-img1 {
    height: 46.5%;
    width: 52%;
    position: absolute;
    top: 10%;
    left: 0;
    background-image: url(/images/setup-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#p5-right-container .p5-l-img2 {
    height: 56.5%;
    width: 45.5%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/images/setup-6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#p5-right-container .p5-l-img3 {
    height: 42%;
    width: 34%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(/images/setup-5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#p5-right-container .p5-l-img4 {
    height: 30%;
    width: 49%;
    position: absolute;
    top: 58%;
    left: 36.5%;
    background-image: url(/images/setup-7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#page6 {
    width: 100%;
    height: 100vh;
    background: lightsalmon;
}